# Configurações sensíveis
data/devices.local.json
config/*.json

# Arquivos locais
.env
.env.local

# Logs
*.log

# Backup / temporários
*.zip
*.bak

# Node (se usar depois)
node_modules/

# VSCode (opcional)
.vscode/
